html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button {
  font-size: 2rem;
  border: 1px solid #333;
  cursor: pointer;
}

.modifiers button {
  background-color: #ccc;
}

.operations button {
  background-color: orange;
  width: 100px;
}

.digits button {
  flex: 1 0 26%;
  background-color: #efefef;
}

/* All things Grid, Flexbox, Box Alignment */
.subgrid {
  display: grid;
}

.wrapper {
  display: grid;
  max-width: 420px;
  min-height: 96vh;
  margin: 0 auto;
  grid-template-areas:
    "total total total total"
    "modif modif modif oper"
    "digit digit digit oper"
    "digit digit digit oper"
    "digit digit digit oper"
    "digit digit digit oper";
  grid-auto-columns: 1fr;
}

.operations {
  grid-area: oper;
}

.show-input {
  display: flex;
  grid-area: total;
  justify-content: flex-start;
  align-items: center;
  font-size: 2rem;
  width: 99%;
  background: slategrey;
}

.modifiers {
  grid-area: modif;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.digits {
  display: flex;
  flex-wrap: wrap;
  grid-area: digit;
}
